<div *ngIf= "cart.length > 0; else emptyCart">
  <div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
      <div class="col-md-8">
        <div class="p-2">
          <h1 class="mb-2 text-center text-success">Shopping cart</h1>
        </div>
        <div
          class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded"
          *ngFor="let item of cart"
        >
          <div class="mr-1"><img class="rounded" src="" width="70" /></div>
          <div
            class="d-flex flex-column align-items-center product-details me-2"
          >
            <h3 class="font-weight-bold">{{ item.productName }}</h3>
          </div>
          <div class="d-flex flex-row align-items-center">
            <span class="text-grey me-2 mb-2">Quantity :</span>
            <h5 class="text-grey">{{ item.quantity }}</h5>
          </div>
          <div class="d-flex ms-2">
            <p>Price :</p>
            <h5 class="text-grey ms-2">{{ item.price }}</h5>
          </div>
          <Button class="btn btn-secondary btn-sm" (click)="increaseQty(item.productId)">+</Button>
        </div>
        <div class="text-end text-danger mt-4">
          <div class="d-flex ms-2">
            <h4>Amount : </h4>
            <h5 class="text-grey ms-2 mt-1">{{ order.amount }}</h5>
          </div>
          <div class="d-flex ms-2">
            <h4>Total amount :</h4>
            <h5 class="text-grey ms-2 mt-1">{{order.totalAmount}}</h5>
          </div>
          <div class="d-flex ms-2">
            <h4>Discount :</h4>
            <h5 class="text-grey ms-2 mt-1">{{order.discount}}</h5>
          </div>
        </div>
        <div class="text-end mt-5">
          <button class="btn btn-primary btn-lg" type="button" (click)="placeOrder()">
            Place order
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="order.couponName == null">
    <div class="form w-50 border-3 rounded-circle" [formGroup]="couponForm">
    <h5 class="text-center">You can apply a coupon using a code</h5>

    <div class="form-group m-4">
      <label for="name">Code</label>
      <input
        type="text"
        class="form-control"
        id="code"
        required
        placeholder="code"
        formControlName ="code"
      />
    </div>
    <button type="submit" class="btn btn-primary m-4" (click)="applyCoupon()">Apply</button>
  </div>
</div>

<ng-template #emptyCart>
   <h1 class="m-5">Your cart is empty.</h1>
</ng-template>
