<div class="container">
    <h1 class="text-center mt-4 text-secondary">Order Analysis</h1>
  <div class="d-flex">
    <div class="card m-auto mt-5 bg-body-secondary" style="width: 18rem; height: 10rem; height: 7rem">
      <div class="card-body">
        <h5 class="card-title">Placed</h5>
        <div class="card-text d-flex flex-column mt-3">{{analysis.placed}}</div>
      </div>
    </div>

    <div class="card m-auto mt-5 bg-body-tertiary" style="width: 18rem; height: 7rem">
      <div class="card-body">
        <h5 class="card-title">Delivered</h5>
        <div class="card-text d-flex flex-column mt-3">{{analysis.delivered}}</div>
      </div>
    </div>

    <div class="card m-auto mt-5 bg-body-secondary" style="width: 18rem; height: 7rem">
      <div class="card-body">
        <h5 class="card-title">Shipped</h5>
        <div class="card-text d-flex flex-column mt-3">{{analysis.shipped}}</div>
      </div>
    </div>
  </div>

  <div class="d-flex">
    <div class="card m-auto mt-5 bg-body-secondary" style="width: 18rem; height: 16rem">
      <div class="card-body">
        <h5 class="card-title">Current Month Orders</h5>
        <div class="card-text d-flex flex-column mb-2">{{analysis.currentMonthOrders}}</div>
      </div>
      <div class="card-body">
        <h5 class="card-title">Current Month Earning</h5>
        <div class="card-text d-flex flex-column mb-2">{{analysis.currentMonthEarning}}</div>
      </div>
    </div>

    <div class="card m-auto mt-5 bg-body-secondary" style="width: 18rem; height: 16rem">
      <div class="card-body">
        <h5 class="card-title">Previous Month Orders</h5>
        <div class="card-text d-flex flex-column mb-2">{{analysis.previousMonthOrders}}</div>
      </div>
      <div class="card-body">
        <h5 class="card-title">Previous Month Earning</h5>
        <div class="card-text d-flex flex-column mb-2">{{analysis.previousMonthEarning}}</div>
      </div>
    </div>
  </div>
</div>
